/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fim Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    max-width: 600px;
  }
  
  div {
    margin: 10px 0;
  }
  
  label {
    display: inline-block;
    width: 200px;
  }
  
  input[type="number"],
  select {
    width: 150px;
  }
  
  button {
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #possibleCeremonies {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  #possibleCeremonies h2 {
    margin: 10px 0;
  }
  
  #possibleCeremonies ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #possibleCeremonies li {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: #f2f2f2;
  }
  